<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Raúl Benítez Netto",
  "jobTitle": ["Threat Analyst","Incident Responder","Full-Stack Developer"],
  "url": "https://rbnetto.dev",
  "image": "https://rbnetto.dev/img/avatar.jpg",
  "sameAs": [
    "https://linkedin.com/in/rauliss",
    "https://github.com/rauliss",
    "https://about.me/rauliss",
    "https://blog.rbnetto.dev"
  ],
  "knowsAbout": ["Cybersecurity","Incident Response","DevSecOps","Python","Ruby","Linux"],
  "alumniOf": [
    {
      "@type": "CollegeOrUniversity",
      "name": "Czech Technical University in Prague"
    }
  ],
  "email": "mailto:raulbeni@gmail.com",
  "telephone": "+595975603978",
  "address": {
    "@type": "PostalAddress",
    "addressCountry": "PY"
  }
}
</script>